- if @users.empty?  
 %h1 No Users
- else
 %h1 Users 
 %table
  %thead
   %tr
    %th Email
    %th Role
    %th
    %th
    %th

  %tbody
   - @users.each do |user|
    %tr
     %td= user.email  
     %td= user.role.name
     %td
      - if can? :read, User
       = link_to 'Show', user
     %td
      - if(can? :edit, user) && (user != current_user)
       = link_to 'Edit', edit_user_path(user)
     %td
      - if can? :destroy, User
       = link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

 %br
 - if can? :create, User
  = link_to 'New User', new_user_path
 %br
 %br

 

