%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Allotment:
  = @product.allotment
%p
  %b Price:
  = @product.price
%p
  %b Period:
  = @product.period

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
